// Permissions for the jdk
grant codeBase "file:${{java.ext.dirs}}/*" {
	permission java.security.AllPermission;
};

// "standard" properies that can be read by anyone
grant {
	// allows anyone to listen on un-privileged ports
	permission java.net.SocketPermission "localhost:1024-", "listen";

	// "standard" properies that can be read by anyone

	permission java.util.PropertyPermission "java.version", "read";
	permission java.util.PropertyPermission "java.vendor", "read";
	permission java.util.PropertyPermission "java.vendor.url", "read";
	permission java.util.PropertyPermission "java.class.version", "read";
	permission java.util.PropertyPermission "os.name", "read";
	permission java.util.PropertyPermission "os.version", "read";
	permission java.util.PropertyPermission "os.arch", "read";
	permission java.util.PropertyPermission "file.separator", "read";
	permission java.util.PropertyPermission "path.separator", "read";
	permission java.util.PropertyPermission "line.separator", "read";

	permission java.util.PropertyPermission "java.specification.version", "read";
	permission java.util.PropertyPermission "java.specification.vendor", "read";
	permission java.util.PropertyPermission "java.specification.name", "read";

	permission java.util.PropertyPermission "java.vm.specification.version", "read";
	permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
	permission java.util.PropertyPermission "java.vm.specification.name", "read";
	permission java.util.PropertyPermission "java.vm.version", "read";
	permission java.util.PropertyPermission "java.vm.vendor", "read";
	permission java.util.PropertyPermission "java.vm.name", "read";
};

// Permission for the LDAP login module
grant codebase "file:classes/Tests/*" {
    permission javax.security.auth.AuthPermission "modifyPrincipals";
    permission java.net.SocketPermission "ildap-sop.inria.fr", "resolve, connect";
};

// Permissions for the Launcher
grant codebase "file:classes/Tests/*" {
   permission javax.security.auth.AuthPermission "createLoginContext.LDAPLoginMethod";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
};

// Permissions for the Action
grant principal functionalTests.security.ldapbyjaas.GroupPrincipal "OASIS-sop" {
	permission java.util.PropertyPermission "java.home", "read";
	permission java.util.PropertyPermission "user.home", "read";
	permission java.io.FilePermission "foo.txt", "read";
};