<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
</head>
<body bgcolor="white">
<p>
This package and sub-packages are a customization of the FractalGUI from the Fractal 2.0 distribution.
</p>
<p>Unfortunately, the code for the FractalGUI is to be deprecated because a complete refactoring will be available soon.
In the meantime, we have customized the current FractalGUI in order to be able to use it with ProActive components.</p>
<p>Most of the code is reused, but some classes from the FractalGUI required modifications on the visibility of fields, methods or inner classes.
We did not want to copy most of the code from these classes, so we decided to make the modifications ourselves.

  @author  Matthieu Morel
  
</body>
</html>

