build/
.gradle/
.idea/
*.iml

# /
*.classpath
*.project
*.settings
/.classpath*

/dist/
!/dist/war/getstarted
!/dist/scripts
dist/war/*.war
/data
/logs
/lib
/bin
**/bin

/tools
!/tools/startup.groovy

/TEST_SCHEDULER_DB
/.nb-gradle/private/

*.DS_Store

*.log

*.setting

# gradle commandline completion cache
*.gradletasknamecache

# credentials are centralized in a single location (config/authentication/credentials)
# and moved by Gradle at configuration phase when required
rm/rm-node/src/main/resources/config/authentication/credentials/

# keys are centralized in a single location (config/authentication/keys)
# and moved by Gradle at configuration phase when required
scheduler/scheduler-server/src/test/resources/functionaltests/config/pub.key

