build/
.gradle/
.idea/
*.iml

# /
/.classpath
/.project
/.settings
/.classpath*

/dist
/data
/logs

# /performance/results/
/performance/results/*

# /performance/tmp/
/performance/tmp/*
/TEST_SCHEDULER_DB
/.nb-gradle/private/