<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.objectweb.proactive.infrastructuremanager.gui.perspectives"
         name="Perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.infrastructuremanager.perspectives.IMPerspective"
            icon="icons/monitoring.gif"
            id="org.objectweb.proactive.infrastructuremanager.gui.perspectives.IMPerspective"
            name="InfrastructureManager"/>
   </extension>
   <extension
         id="org.objectweb.proactive.infrastructuremanager.gui.views"
         name="Views"
         point="org.eclipse.ui.views">
      <category
            id="org.objectweb.proactive.infrastructuremanager.gui.category"
            name="Infrastructure Manager"/>
      <view
            allowMultiple="false"
            category="org.objectweb.proactive.infrastructuremanager.gui.category"
            class="org.objectweb.proactive.infrastructuremanager.views.IMViewAdministration"
            icon="icons/monitoring.gif"
            id="org.objectweb.proactive.infrastructuremanager.gui.views.IMViewAdministration"
            name="Administration"/>
     <view
            allowMultiple="false"
            category="org.objectweb.proactive.infrastructuremanager.gui.category"
            class="org.objectweb.proactive.infrastructuremanager.views.IMViewLegend"
            icon="icons/monitoring.gif"
            id="org.objectweb.proactive.infrastructuremanager.gui.views.IMViewLegend"
            name="Legend"/>
      <view
            allowMultiple="true"
            category="org.objectweb.proactive.infrastructuremanager.gui.category"
            class="org.objectweb.proactive.infrastructuremanager.views.IMViewInfrastructure"
            icon="icons/legend.gif"
            id="org.objectweb.proactive.infrastructuremanager.gui.views.IMViewInfrastructure"
            name="Infrastructure"/>
   </extension>
      <extension
         id="org.objectweb.proactive.infrastructuremanager.gui.perspectiveextensions"
         name="Infrastructuremanager perspective extensions"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.objectweb.proactive.infrastructuremanager.gui.perspectives.IMPerspective">
         <perspectiveShortcut id="org.objectweb.proactive.infrastructuremanager.gui.perspectives.IMPerspective"/>
         <viewShortcut id="org.objectweb.proactive.infrastructuremanager.gui.views.IMViewAdministration"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
      </perspectiveExtension>
   </extension>
   
   

</plugin>

