<!-- Converted by db4-upgrade version 1.0 -->

<chapter xmlns="http://docbook.org/ns/docbook" version="5.0" xml:id="plugin"><info><title>ProActive Eclipse plugin</title></info>
  
    <section><info><title>Overview</title></info>
      
      <para>The main objective of this plugin is to facilitate the use of ProActive in
 the Eclipse environment. The plugin has three main purposes:</para>
      <itemizedlist>
        <listitem>
          <para><emphasis><emphasis role="bold">A ProActive guided Tour</emphasis></emphasis></para>
          
        </listitem>
        <listitem>
          <para><emphasis><emphasis role="bold">ProActive Wizards</emphasis></emphasis></para>
          
        </listitem>
        <listitem>
          <para><emphasis><emphasis role="bold">A ProActive editor</emphasis></emphasis></para>
          
        </listitem>
</itemizedlist>
    </section>
    <section><info><title>The Guided Tour</title></info>
      
      <para>The aim of the guided tour is to provide a step by step explanation to the
 ProActive beginners.</para>
      <figure><info><title>The plugin's interface</title></info>
       
        <mediaobject>
          <imageobject>
            <imagedata scalefit="1" width="100%" contentdepth="100%"  fileref="development/plugin_files/guided_tour.jpg" format="JPG"  />
          </imageobject>
        </mediaobject>
      </figure>
      <para>This guided tour (that is actually eclipse cheat sheet) purposes:</para>
      <itemizedlist>
        <listitem>
          <para> To Explain ProActive to beginners</para>
        </listitem>
        <listitem>
          <para> To make interactions with the user with simple situations</para>
        </listitem>
        <listitem>
          <para> To Show the important points</para>
        </listitem>
</itemizedlist>
    </section>
    <section><info><title>Wizards</title></info>
      
      <para>These wizards will guide developpers to make complex operations with
 ProActive, such as installation, integration , configuration or execution. We have created 4
 wizards:</para>
      <orderedlist>
        <listitem>
          <para> a ProActive installation wizard</para>
        </listitem>
        <listitem>
          <para> a wizard that create applications using ProActive</para>
        </listitem>
        <listitem>
          <para> an active object creation wizard</para>
        </listitem>
        <listitem>
          <para> a configuration and execution wizard</para>
        </listitem>
</orderedlist>
      <figure><info><title>One wizard popup</title></info>
       
        <mediaobject>
          <imageobject>
           <imagedata scalefit="1" width="100%" contentdepth="100%"  fileref="development/plugin_files/wizard_active.jpg" format="JPG"  />
          </imageobject>
        </mediaobject>
      </figure>
    </section>
    <section><info><title>The ProActive Editor</title></info>
      
      <para>This editor checks coding rules. It informs the developper of error
 concerning ProActive in his classes and can resolve some of these errors.</para>
      <figure><info><title>The editor error highlighting</title></info>
       
        <mediaobject>
          <imageobject>
            <imagedata scalefit="1" width="100%" contentdepth="100%"  fileref="development/plugin_files/editor.jpg" format="JPG"  />
          </imageobject>
        </mediaobject>
      </figure>
    </section>
  
</chapter>
