<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
</head>


<body bgcolor="white">

<p>
This package and sub-packages provide a customization of the standard 
Fractal ADL for ProActive. It uses standard classes and .fractal files
from the fractal-adl.jar in the /lib directory, and from a user point of view, main 
differences between the standard Fractal ADL parser and this one are : 
      <br>

      
</p>
<ul>

	<li>a different Launcher class that can work with ProActive deployment descriptors</li>

	<li>customized factory and backend
	</li>
  <li>a registry that can store references to instantiated components</li>

	<li>virtual nodes in the ADL can find a mapping in the ProActive deployment descriptor.
	</li>
  <li>virtual nodes can be exported and composed ; this allows colocation of processes
	</li>
  <li>the dtd is specific to proactive
  </li>
</ul>

<p></p>


<p>The architecture of the Fractal ADL has been modified as follows :
</p>

<ul>
  <li>The factory specifies the new compiler and backend to use :</li>

  <img src="proactive-factory.png" alt="proactive factory" border="0" height="650" width="934">
</ul>
<ul>
  <li>The compiler has a new exportedVirtualNode compiler, and a custom implementation compiler that considers virtual nodes :</li>

  <img src="proactive-compiler.png" alt="proactive compiler" border="0" height="650" width="934">
</ul>
<ul>
  <li>The backend has a new exportedVirtualNode builder and a custom
implementation builder that handles virtual nodes and stores compoent
instances into a registry.</li>

  <img src="proactive-backend.png" alt="proactive backend" border="0" height="650" width="934">
</ul>



  author  Matthieu Morel
  
</body>
</html>
