<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
</head>
<body bgcolor="white">
<p>
This package and sub-packages provide a customization of the standard 
Fractal ADL for ProActive. It uses some standard classes and .fractal files
from the fractal-adl.jar in the /lib directory, and from a user point of view, main differences are : <br>
<ul>
	<li>- a different Launcher class that can work with ProActive deployment descriptors</li>
	<li>- customized factory and backend
	<li>- a registry that can store references to instantiated components</li>
	<li>- virtual nodes in the ADL find a mapping in the ProActive deployment descriptor.
	
</ul>
</p>

  @author  Matthieu Morel
  
</body>
</html>

