<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.ow2.proactive.scheduler.Application">
         </run>
      </application>
   </extension>

  <extension
        id="scheduler"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.ow2.proactive.scheduler.application"
           name="ProActive Scheduler Client">
        <property
              name="aboutText"
              value="%About.text"/>
        <property
              name="appName"
              value="ProActive Scheduler Client"/>
        <property
              name="startupProgressRect"
              value="10,10,435,15"/>
        <property
              name="startupForegroundColor"
              value="EB791F"/>
        <property
              name="startupMessageRect"
              value="10,30,435,20"/>
        <property
              name="aboutImage"
              value="icons/alt_about.gif"/>
        <property
              name="windowImages"
              value="icons/alt_window_16.gif,icons/alt_window_32.gif"/>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ow2.proactive.scheduler.gui.perspective.SchedulerPerspective"
            id="org.ow2.proactive.scheduler.gui.perspective.SchedulerPerspective"
            name="Scheduler">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.ow2.proactive.scheduler.gui"
            name="Scheduler">
      </category>
      <view
            allowMultiple="false"
            category="org.ow2.proactive.scheduler.gui"
            class="org.ow2.proactive.scheduler.gui.views.SeparatedJobView"
            icon="icons/monitoring.gif"
            id="org.ow2.proactive.scheduler.gui.views.SeparatedJobView"
            name="Jobs">
      </view>
      <view
            allowMultiple="false"
            category="org.ow2.proactive.scheduler.gui"
            class="org.ow2.proactive.scheduler.gui.views.JobInfo"
            icon="icons/info.png"
            id="org.ow2.proactive.scheduler.gui.views.JobInfo"
            name="Job Info">
      </view>
      <view
            allowMultiple="false"
            category="org.ow2.proactive.scheduler.gui"
            class="org.ow2.proactive.scheduler.gui.views.TaskView"
            icon="icons/monitoring.gif"
            id="org.ow2.proactive.scheduler.gui.views.TaskView"
            name="Tasks">
      </view>
      <view
            allowMultiple="false"
            category="org.ow2.proactive.scheduler.gui"
            class="org.ow2.proactive.scheduler.gui.views.ResultPreview"
            icon="icons/info.png"
            id="org.ow2.proactive.scheduler.gui.views.ResultPreview"
            name="Result Preview">
      </view>
      <view
            allowMultiple="false"
            category="org.ow2.proactive.scheduler.gui"
            class="org.ow2.proactive.scheduler.gui.views.Users"
            icon="icons/info.png"
            id="org.ow2.proactive.scheduler.gui.views.Users"
            name="Logged users">
      </view>
      <view
            category="org.ow2.proactive.scheduler.gui"
            class="org.ow2.proactive.scheduler.gui.views.ServersView"
            icon="icons/server.png"
            id="org.ow2.proactive.scheduler.gui.views.ServersView"
            name="Data Servers">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.ow2.proactive.scheduler.gui.perspective.SchedulerPerspective">
         <perspectiveShortcut
               id="org.ow2.proactive.scheduler.gui.perspective.SchedulerPerspective">
         </perspectiveShortcut>
         <viewShortcut
               id="org.ow2.proactive.scheduler.gui.views.SeparatedJobView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut
               id="org.ow2.proactive.scheduler.gui.views.JobInfo">
         </viewShortcut>
         <viewShortcut
               id="org.ow2.proactive.scheduler.gui.views.TaskView">
         </viewShortcut>
         <viewShortcut
               id="org.ow2.proactive.scheduler.gui.views.ResultPreview">
         </viewShortcut>
         <viewShortcut
               id="org.ow2.proactive.scheduler.gui.views.ServersView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.ow2.proactive.scheduler.gui.preferences.RemoteConnectionPreferences"
            id="org.ow2.proactive.scheduler.gui.preferences.RemoteConnectionPreferences"
            name="Remote Connection">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ow2.proactive.scheduler.gui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
