<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.objectweb.proactive.ic2d.p2p.Monitoring.perspective"
         name="P2PPerspective"
         point="org.eclipse.ui.views">
      <view
            class="org.objectweb.proactive.ic2d.p2p.Monitoring.views.P2PView"
            id="org.objectweb.proactive.ic2d.p2p.Monitoring.views.P2PView"
            name="P2PView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.ic2d.p2p.Monitoring.perspective.P2PPerspective"
            id="org.objectweb.proactive.ic2d.p2p.Monitoring.perspective.P2PPerspective"
            name="P2PPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="P2P.actionSet2"
            label="Menu"
            visible="true">
         <action
               class="org.objectweb.proactive.ic2d.p2p.Monitoring.actions.DumpFileChooserAction"
               id="P2P.action2"
               label="Load From File"
               menubarPath="P2P.menu1/content"
               style="push">
         </action>
         <menu
               id="P2P.menu1"
               label="P2P">
         </menu>
      </actionSet>
   </extension>

</plugin>
