<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Security"
            id="org.objectweb.proactive.ic2d.security.views">
      </category>
      <view
            allowMultiple="false"
            category="Security"
            class="org.objectweb.proactive.ic2d.security.views.PolicyEditorView"
            icon="icons/sample.gif"
            id="org.objectweb.proactive.ic2d.security.views.PolicyEditorView"
            name="Policy Editor"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.objectweb.proactive.ic2d.security.views.PolicyEditorView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.ic2d.security.perspectives.SecurityPerspective"
            id="org.objectweb.proactive.ic2d.security.perspectives.SecurityPerspective"
            name="Security">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.objectweb.proactive.ic2d.JMXmonitoring.actions_extension">
      <action_class class="org.objectweb.proactive.ic2d.security.actions.GetSecurityManager"/>
    
   </extension>
    <extension
         point="org.objectweb.proactive.ic2d.JMXmonitoring.actions_extension">
            <action_class class="org.objectweb.proactive.ic2d.security.actions.SetSecurityManager"/>
  </extension>
</plugin>
