<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.objectweb.proactive.ic2d.console.ConsoleViewContribution"
            targetID="org.eclipse.ui.console.ConsoleView">
         <action
               class="org.objectweb.proactive.ic2d.console.DebugAction"
               icon="icons/debug.gif"
               id="org.objectweb.proactive.ic2d.console.DebugAction"
               label="Debug"
               state="false"
               toolbarPath="group1"
               tooltip="Debug mode"/>
      </viewContribution>
   </extension>

</plugin>
