<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="actions_extension" name="Actions extension" schema="schema/actions_extension.exsd"/>
   <extension
         id="org.objectweb.proactive.ic2d.jmxmonitoring.perspective"
         name="Perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.ic2d.jmxmonitoring.perspective.MonitoringPerspective"
            icon="icons/monitoring.gif"
            id="org.objectweb.proactive.ic2d.jmxmonitoring.perspective.MonitoringPerspective"
            name="Monitoring"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.jmxmonitoring.view"
         name="Views"
         point="org.eclipse.ui.views">
      <category
            id="org.objectweb.proactive.ic2d.jmxmonitoring.category"
            name="Monitoring"/>
      <view
            allowMultiple="true"
            category="org.objectweb.proactive.ic2d.jmxmonitoring.category"
            class="org.objectweb.proactive.ic2d.jmxmonitoring.view.MonitoringView"
            icon="icons/monitoring.gif"
            id="org.objectweb.proactive.ic2d.jmxmonitoring.view.MonitoringView"
            name="Monitoring"/>
      <view
            allowMultiple="false"
            category="org.objectweb.proactive.ic2d.jmxmonitoring.category"
            class="org.objectweb.proactive.ic2d.jmxmonitoring.view.Legend"
            icon="icons/legend.gif"
            id="org.objectweb.proactive.ic2d.jmxmonitoring.view.Legend"
            name="Legend"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.jmxmonitoring.perspectiveextensions"
         name="Monitoring perspective extensions"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.objectweb.proactive.ic2d.jmxmonitoring.perspective.MonitoringPerspective">
         <actionSet id="org.objectweb.proactive.ic2d.jmxmonitoring.actionSet"/>
         <perspectiveShortcut id="org.objectweb.proactive.ic2d.jmxmonitoring.perspective.MonitoringPerspective"/>
         <viewShortcut id="org.objectweb.proactive.ic2d.jmxmonitoring.view.MonitoringView"/>
         <viewShortcut id="org.objectweb.proactive.ic2d.jmxmonitoring.view.Legend"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.objectweb.proactive.ic2d.jmxmonitoring.actionSet"
            label="Monitoring action set">
         <menu
               id="org.objectweb.proactive.ic2d.jmxmonitoring.menu.MonitoringMenu"
               label="&amp;Monitoring"
               >
         </menu>
         <action
               class="org.objectweb.proactive.ic2d.jmxmonitoring.action.NewViewAction"
               id="org.objectweb.proactive.ic2d.jmxmonitoring.action.NewViewAction"
               label="New Monitoring view"
               menubarPath="org.objectweb.proactive.ic2d.jmxmonitoring.menu.MonitoringMenu/content"
               tooltip="Add a new Monitoring view"/>
         <action
               class="org.objectweb.proactive.ic2d.jmxmonitoring.action.WorkbenchChartItAction"
               id="org.objectweb.proactive.ic2d.jmxmonitoring.action.WorkbenchChartItAction"
               label="Current Runtime ChartIt Action"
               menubarPath="org.objectweb.proactive.ic2d.jmxmonitoring.menu.MonitoringMenu/content"
               tooltip="Opens a ChartIt Editor for the Current Runtime">
         </action>
      </actionSet>
   </extension>

</plugin>

