<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.perspectives"
         name="Perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective"
            icon="icons/monitoring.gif"
            id="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective"
            name="Monitoring"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.views"
         name="Views"
         point="org.eclipse.ui.views">
      <category
            id="org.objectweb.proactive.ic2d.monitoring.category"
            name="Monitoring"/>
      <view
            allowMultiple="true"
            category="org.objectweb.proactive.ic2d.monitoring.category"
            class="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"
            icon="icons/monitoring.gif"
            id="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"
            name="Monitoring"/>
      <view
            allowMultiple="false"
            category="org.objectweb.proactive.ic2d.monitoring.category"
            class="org.objectweb.proactive.ic2d.monitoring.views.Legend"
            icon="icons/legend.gif"
            id="org.objectweb.proactive.ic2d.monitoring.views.Legend"
            name="Legend"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.perspectiveextensions"
         name="Monitoring perspective extensions"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective">
         <actionSet id="org.objectweb.proactive.ic2d.monitoring.actionSet"/>
         <perspectiveShortcut id="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective"/>
         <viewShortcut id="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"/>
         <viewShortcut id="org.objectweb.proactive.ic2d.monitoring.views.Legend"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.objectweb.proactive.ic2d.monitoring.actionSet"
            label="Monitoring action set">
         <menu
               id="org.objectweb.proactive.ic2d.monitoring.menu.MonitoringMenu"
               label="&amp;Monitoring"
               >
         </menu>
         <action
               class="org.objectweb.proactive.ic2d.monitoring.actions.NewViewAction"
               id="org.objectweb.proactive.ic2d.monitoring.actions.NewViewAction"
               label="New Monitoring view"
               menubarPath="org.objectweb.proactive.ic2d.monitoring.menu.MonitoringMenu/content"
               tooltip="Add a new Monitoring view"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectweb.proactive.ic2d.monitoring.editor.MonitoringEditor"
            default="false"
            id="org.objectweb.proactive.ic2d.monitoring.editor.MonitoringEditor"
            name="MonitoringEditor"/>
   </extension>

</plugin>

