<?xml version="1.0" encoding="UTF-8"?>
<timit>       
    
	<!-- GLOBAL VARIABLES DEFINITION
		Will replace those in deployment descriptor -->
	<globalVariables>
		<descriptorVariable name="VMARGS" value="-Xmx32M -Xms32M" />
		<descriptorVariable name="CLASS_PREFIX"
			value="org.objectweb.proactive.examples.timit" />
		<descriptorVariable name="NP" value="4,8" />
		<descriptorVariable name="RUN" value="1" />
		<descriptorVariable name="WARMUP" value="0" />                
	</globalVariables>
	
	<!-- Running example1 suite and generate a communication pattern chart        
		and line 2d chart.
                
             The default PROJECT_PATH variable provides you the project (ie root) path.
             For this example you should have a directory named results at your project path.                 
                -->
                
	<series descriptorBase="descriptors/TimIt.xml"
		result="results/serie1/example1.4-8.xml"
		class="${CLASS_PREFIX}.example1.Launcher">
		<charts>
			<chart type="MatrixChart"
				eventName="commPattern"
				title="Example1"
				subtitle="Communications pattern"
				xaxislabel="Receiver rank" yaxislabel="Sender rank"
				scalemode="logarithmic" legendFormatMode="pow2"
				filename="results/serie1/charts/example1.Pattern" />
			<chart type="Line2dChart"
				tag="events" filter="nbComms" attribute="avg"
				title="Example1" subtitle="Total number of communications"
				xaxislabel="Benchmarks" yaxislabel="Nb communications"
				filename="results/serie1/charts/example1.nbComms" />
		</charts>
		<benchmarks>
			<benchmark name="Example1 ${NP}"
				run="${RUN}" warmup="${WARMUP}" timeout="100"
				descriptorGenerated="descriptors/generated.xml"
				removeExtremums="true"
				note="My first test"
				parameters="descriptors/generated.xml ${NP}"
				output="results/serie1/Example1/example1-${NP}.xml">
				<descriptorVariable name="NODES" value="${NP}" />
			</benchmark>
		</benchmarks>
	</series>

	<!-- Running example2 suite and generate a hierarchical bar chart -->	
	<series descriptorBase="descriptors/TimIt.xml"
		result="results/serie2/example2.4-8.xml"
		class="${CLASS_PREFIX}.example2.Launcher">
		<charts>
			<chart type="HierarchicalBarChart"
				filter="total,init,foo" title="Example2 on 4 and 8 nodes"
				subtitle="Timing values" width="800" height="600"
				xaxislabel="Benchmarks" yaxislabel="Time in seconds"
				filename="results/serie2/charts/example2.Timing" />
		</charts>
		<benchmarks>
			<benchmark name="Example2 ${NP}"
				run="${RUN}" warmup="${WARMUP}" timeout="100"
				descriptorGenerated="descriptors/generated.xml"
				removeExtremums="true"
				note="My first test"
				parameters="descriptors/generated.xml ${NP}"
				output="results/serie2/Example2/example2-${NP}.xml">
				<descriptorVariable name="NODES" value="${NP}" />
				<descriptorVariable name="TIMIT_ACTIVATE"
					value="total,init,work,end,foo"/>
			</benchmark>
		</benchmarks>
	</series>
	
	<!-- Running jacobi suite -->
	<!--
	<series descriptorBase="descriptors/TimIt.xml"
		result="results/jacobi.1.xml"
		class="${CLASS_PREFIX}.jacobi.Launcher">
		<charts>
		</charts>
		<benchmarks>
			<benchmark name="Jacobi 1"
				run="${RUN}" warmup="${WARMUP}" timeout="600"
				descriptorGenerated="descriptors/generated.xml"
				removeExtremums="true"
				note="My first test"
				parameters="descriptors/generated.xml 4 1 5"
				output="results/jacobi-1.xml">
				<descriptorVariable name="NODES" value="1" />
			</benchmark>
		</benchmarks>
	</series>
	-->
</timit>