<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Security"
            id="org.objecweb.proactive.ic2d.security">
      </category>
      <view
            name="Policy Editor"
            icon="icons/sample.gif"
            category="org.objecweb.proactive.ic2d.security"
            class="org.objecweb.proactive.ic2d.security.views.PolicyEditor"
            id="org.objecweb.proactive.ic2d.security.views.PolicyEditor">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objecweb.proactive.ic2d.security.form.SecurityEditorForm"
            id="org.objecweb.proactive.ic2d.security.form.SecurityEditorForm"
            name="Security Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.ui.forms.article.actionSet"
            label="security">
         <menu
               id="org.eclipse.ui.forms.article.menu"
               label="securityLabel">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.ui.forms.article.rcp.OpenSimpleFormEditorAction"
               id="org.eclipse.ui.forms.article.simple"
               label="securityactionLabel"
               menubarPath="plop">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.objectweb.proactive.ic2d.security.PolicyEditor"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objecweb.proactive.ic2d.security.perspectives.SecurityPerspective"
            id="org.objecweb.proactive.ic2d.security.perspectives.SecurityPerspective"
            name="ProActive Security">
      </perspective>
   </extension>

</plugin>
