<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ProActive_New/src/Examples/org/objectweb/proactive/examples/userguide/primes/distributedmw/PrimeExampleMW.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.objectweb.proactive.examples.userguide.primes.distributedmw.PrimeExampleMW"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="file:${project_loc}/src/Examples/org/objectweb/proactive/examples/userguide/primes/distributedmw/deployment.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProActive_New"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.policy=file:${project_loc}/compile/proactive.java.policy&#10;-Dlog4j.configuration=file:${project_loc}/compile/proactive-log4j"/>
</launchConfiguration>
