<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
</head>
<body bgcolor="white">
<p>This is the component wrapper for C3D, the collaborative 3D
application. This shows how a well-written application (with interfaces
describing behaviors) can easily be exported as components.</p>
<p>To switch from an object code to component code, you need to
<ul>
	<li>Determine the behaviors that should be turned into components. <br>
	<div style="font-style: italic;">User, Dispatcher, Renderer</div>
	Make these interfaces<br>
	<div style="font-style: italic;">We have User, Dispatcher, Renderer
	interfaces in C3D</div>
	Be wary that you will want to expose only the services provided.
	Methods which have to be public, but are not to be used by
	inter-component communications <b>should not</b> be exposed
	in the components interfaces (see the DispatcherLogic class)</li>
	<li>Create Component wrappers for these classes. <br>
	<div style="font-style: italic;">We have UserImpl, DispatcherImpl,
	EngineImpl components<br>
	</div>
	Make sure these implement the bind/unbind/lookup methods</li>
	<li>Finally, create a main class where you declare how you want the
	components to be bound. Of course, you might choose to use the ADL to
	specify this.</li>
</ul>

</p>

<!-- Put @see and @since tags down here. -->
@author ProActive Team 
@version 1.0, 2005/09/21 
@since ProActive 2.3

</body>
</html>

