/** Login Configuration for the JAAS Sample Application **/

SchedulerFileLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerFileLoginModule required ;
};

SchedulerLDAPLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerLDAPLoginModule required ;
};

SchedulerPAMLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerPAMLoginModule required serviceName="proactive-jpam";
};

SchedulerIAMLoginMethod {
    org.ow2.proactive.authentication.IAMLoginModule required
	ticketValidatorClass="org.ow2.proactive.authentication.iam.JWTValidator"
	iamServerUrlPrefix="https://localhost:8444/iam"
	iamTicketRequest="/v1/tickets"
	service="PACoreWithJWT"
	userAttributeName="uid"
	roleAttributeName="role"
	roleSeparator=","
	ssoTicketHeader="Location"
	jsonWebTokenSigned="false"
	jsonWebTokenEncrypted="false"
	jsonWebTokenSignatureKey=""
	jsonWebTokenEncryptionKey="";
};

/*SchedulerIAMLoginMethod {
	org.ow2.proactive.authentication.IAMLoginModule required
	ticketValidatorClass="org.jasig.cas.client.validation.Cas30ServiceTicketValidator"
	iamServerUrlPrefix="https://localhost:8444/iam"
	iamTicketRequest="/v1/tickets"
	ssoTicketHeader="Location"
	service="PACoreWithST"
	roleAttributeName="role";
}*/

RMFileLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMFileLoginModule required ;
};

RMLDAPLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMLDAPLoginModule required ;
};

RMPAMLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMPAMLoginModule required serviceName="proactive-jpam";
};

RMIAMLoginMethod {
    org.ow2.proactive.authentication.IAMLoginModule required
	ticketValidatorClass="org.ow2.proactive.authentication.iam.JWTValidator"
	iamServerUrlPrefix="https://localhost:8444/iam"
	iamTicketRequest="/v1/tickets"
	service="PACoreWithJWT"
	userAttributeName="uid"
	roleAttributeName="role"
	roleSeparator=","
	ssoTicketHeader="Location"
	jsonWebTokenSigned="false"
	jsonWebTokenEncrypted="false"
	jsonWebTokenSignatureKey=""
	jsonWebTokenEncryptionKey="";
};

/*RMIAMLoginMethod {
	org.ow2.proactive.authentication.IAMLoginModule required
	ticketValidatorClass="org.jasig.cas.client.validation.Cas30ServiceTicketValidator"
	iamServerUrlPrefix="https://localhost:8444/iam"
	iamTicketRequest="/v1/tickets"
	ssoTicketHeader="Location"
	service="PACoreWithST"
	roleAttributeName="role";
}*/