/** Login Configuration for the JAAS Sample Application **/

SchedulerFileLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerFileLoginModule required ;
};

SchedulerLDAPLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerLDAPLoginModule required ;
};

SchedulerMultiLDAPLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerMultiLDAPLoginModule required ;
};

SchedulerPAMLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerPAMLoginModule required serviceName="proactive-jpam";
};

SchedulerKeycloakLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerKeycloakLoginModule required ;
};

RMFileLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMFileLoginModule required ;
};

RMLDAPLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMLDAPLoginModule required ;
};

RMMultiLDAPLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMMultiLDAPLoginModule required ;
};

RMPAMLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMPAMLoginModule required serviceName="proactive-jpam";
};

RMKeycloakLoginMethod{
	org.ow2.proactive.resourcemanager.authentication.RMKeycloakLoginModule required ;
};
