@charset "utf-8";
/* CSS Document */

B, EM, EMPHASIS, STRONG   { color: #00257E; font-weight: bold;}

div.toc,  div.list-of-figures, div.list-of-examples, div.list-of-tables, {font-size: 10pt;}
div.ListofTitles {font-size: 10pt; margin-left:  40px; }

/* Title page (first page) customization */
//H1 {font-weight: bold; font-size: 16pt; background-color: #00257E; color: white; font-family: Verdana, Arial, sans-serif; font-size: 18pt;}
//H2.subtitle { background-color: white; color: #0011fe; font-family : serif, Verdana, Arial;  font-size: 40pt; }
//H3.author { background-color: white; color: #0011fe; font-family: Verdana, Arial,sans-serif ;  font-size: 12pt; }

span.part a {
	font-size:19px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
span.index, span.bibliography, span.appendix, span.chapter a {font-weight: bold;font-size: 13pt;}


body {
/*	background: url('../images/background.jpg');*/
/*	background-image: url(../images/background.jpg); */
/*	background-repeat: repeat-x;*/
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #555555;
}
body.main {
/*	background: url('../images/background.jpg');*/
/*	background-image: url(../images/background.jpg); */
/*	background-repeat: repeat-x;*/
	background-color:#E1E1E1;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #555555;
}

td {font-size: 9pt;}
th { background-color: #00257E; color: white; font-weight: bold; }

p {margin-left:  5px; padding-left: 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; }

/* Make the items of a list dense  */
li {	font-size: 9pt;}
li p {padding:0; margin:0;} 



a   {
	color:#3A4376;
	font-weight:bold;
	text-decoration:none; 
} 
a:hover   {
	color:#FF9900;  
	text-decoration:none; 
}
h1 {
	font-size:19px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
h2 {
	color:white;
	font-size:17px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#282d60;
	
}
h3 {
	color:white;
	font-size:14px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#282d60;
	
}
h4 {
	color:white;
	font-size:12px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#282d60;
	
}
h5 {
	font-size:11px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.tab_menu {
	background-color:#CCCCCC;
}

input {
	border: 1px solid #8EA2AE;
	padding-left: 4;
	padding-right: 4;
	padding-top: 1;
	padding-bottom: 1;
}


code {	font-size: 10px;}

.codeexample {	font-family: "Courier New", Courier, mono;}

.regularLink1 { background-color: #00257E; color: white; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; }
.regularLink2 { background-color: white; color: #00257E; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; }
.smallLink1 { background-color: #00257E; color: white; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 8pt; font-weight: bold; }
.smallLink2 { background-color: white; color: #00257E; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 8pt; font-weight: bold; }
.navyCell { background-color: #00257E; color: white; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 9pt; font-weight: bold; }
.whiteCell { background-color: white; color: #00257E; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 9pt; }
.legend { background-color: #ffffcc; color: #00257E; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 8pt; font-weight: bold; }
.textNormal { margin-left:  5px; padding-left: 5px; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 9pt; }
.textSmall {  font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 8pt; }
.listWithSpace { line-height: 1.5;}


.screen , .programlisting {
        font-family: monospace;
        font-size: 10px;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #f1e6d7;
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

.command, .filename, .code {  font-family: monospace; color: #810101}

.comment {color: #018101; font-style: italic; }
.keyword { color: #0101ff; }
.codeword { color: #0101ff; }
.typeword { color: #931793; }
.string  { color: #ff2aff;}


/* Token Colours */
#CharacerLiteral	{ color: #FF00FF; }
#StringLiteral		{ color: #FF00FF; }
#SingleLineComment	{ color: #008000; }
#FormalComment		{ color: #008000; }
#MultiLineComment	{ color: #008000; }
#Abstract		{ color: #0000FF ; font-weight: bold }
#Boolean		{ color: #0000FF ; font-weight: bold }
#Break			{ color: #0000FF ; font-weight: bold }
#Byte			{ color: #0000FF ; font-weight: bold }
#Case			{ color: #0000FF ; font-weight: bold }
#Catch			{ color: #0000FF ; font-weight: bold }
#Char			{ color: #0000FF ; font-weight: bold }
#Class			{ color: #0000FF ; font-weight: bold }
#Const			{ color: #0000FF ; font-weight: bold }
#Continue		{ color: #0000FF ; font-weight: bold }
#Default		{ color: #0000FF ; font-weight: bold }
#Do			{ color: #0000FF ; font-weight: bold }
#Double		{ color: #0000FF ; font-weight: bold }
#Else			{ color: #0000FF ; font-weight: bold }
#Extends		{ color: #0000FF ; font-weight: bold }
#False			{ color: #0000FF ; font-weight: bold }
#Final			{ color: #0000FF ; font-weight: bold }
#Finally		{ color: #0000FF ; font-weight: bold }
#Float			{ color: #0000FF ; font-weight: bold }
#For			{ color: #0000FF ; font-weight: bold }
#Goto			{ color: #0000FF ; font-weight: bold }
#If			{ color: #0000FF ; font-weight: bold }
#Implements		{ color: #0000FF ; font-weight: bold }
#Import		{ color: #0000FF ; font-weight: bold }
#InstanceOf		{ color: #0000FF ; font-weight: bold }
#Int			{ color: #0000FF ; font-weight: bold }
#Interface		{ color: #0000FF ; font-weight: bold }
#Long			{ color: #0000FF ; font-weight: bold }
#Native		{ color: #0000FF ; font-weight: bold }
#New			{ color: #0000FF ; font-weight: bold }
#Package		{ color: #0000FF ; font-weight: bold }
#Private		{ color: #0000FF ; font-weight: bold }
#Protected		{ color: #0000FF ; font-weight: bold }
#Public		{ color: #0000FF ; font-weight: bold }
#Return		{ color: #0000FF ; font-weight: bold }
#Short			{ color: #0000FF ; font-weight: bold }
#Static		{ color: #0000FF ; font-weight: bold }
#Super			{ color: #0000FF ; font-weight: bold }
#Switch		{ color: #0000FF ; font-weight: bold }
#Synchronized		{ color: #0000FF ; font-weight: bold }
#This			{ color: #0000FF ; font-weight: bold }
#Throw			{ color: #0000FF ; font-weight: bold }
#Throws		{ color: #0000FF ; font-weight: bold }
#Transient		{ color: #0000FF ; font-weight: bold }
#True			{ color: #0000FF ; font-weight: bold }
#Try			{ color: #0000FF ; font-weight: bold }
#Void			{ color: #0000FF ; font-weight: bold }
#Volatile		{ color: #0000FF ; font-weight: bold }
#While			{ color: #0000FF ; font-weight: bold }
#StrictFP			{ color: #0000FF ; font-weight: bold }
#IntegerLiteral	{ color: #000000 }
#DecimalLiteral	{ color: #000000 }
#HexLiteral		{ color: #000000 }
#OctalLiteral		{ color: #000000 }
#FloatPointLiteral	{ color: #000000 }
