<?xml version="1.0" encoding="UTF-8"?>
<componentConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="../../../org/objectweb/proactive/core/component/config/component-config.xsd" name="interception">
    <controllers>
        <controller>
            <interface>org.objectweb.proactive.core.component.controller.ProActiveBindingController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.ProActiveBindingControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.controller.ProActiveContentController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.ProActiveContentControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.controller.ProActiveLifeCycleController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.ProActiveLifeCycleControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.controller.ProActiveSuperController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.ProActiveSuperControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.fractal.api.control.NameController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.ProActiveNameController</implementation>
        </controller>
        <!-- specific controllers & interceptors -->
        <controller>
            <interface>functionalTests.component.controller.DummyController</interface>
            <implementation>functionalTests.component.controller.DummyControllerImpl</implementation>
        </controller>
        <controller input-interceptor="true">
            <interface>functionalTests.component.interceptor.InputInterceptor1</interface>
            <implementation>functionalTests.component.interceptor.InputInterceptor1Impl</implementation>
        </controller>
        <controller input-interceptor="true" output-interceptor="true">
            <interface>functionalTests.component.interceptor.InputOutputInterceptor</interface>
            <implementation>functionalTests.component.interceptor.InputOutputInterceptorImpl</implementation>
        </controller>
        <controller output-interceptor="true">
            <interface>functionalTests.component.interceptor.OutputInterceptor1</interface>
            <implementation>functionalTests.component.interceptor.OutputInterceptor1Impl</implementation>
        </controller>
    </controllers>
    
</componentConfiguration>
    

