<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Resource Explorer"
            icon="icons/sample.gif"
            class="org.ow2.proactive.resourcemanager.gui.views.ResourceExplorerView"
            id="org.ow2.proactive.resourcemanager.gui.views.ResourceExplorerView">
      </view>
      <view
            class="org.ow2.proactive.resourcemanager.gui.views.StatisticsView"
            icon="icons/sample.gif"
            id="org.ow2.proactive.resourcemanager.gui.views.StatisticsView"
            name="Statistics">
      </view>
      <view
            class="org.ow2.proactive.resourcemanager.gui.views.NodeInfoView"
            icon="icons/sample.gif"
            id="org.ow2.proactive.resourcemanager.gui.views.NodeInfoView"
            name="Info">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ow2.proactive.resourcemanager.gui.ResourceManagerPerspective"
            id="org.ow2.proactive.scheduler.gui.ResourceManagerPerspective"
            name="Resource Manager">
      </perspective>
   </extension>

</plugin>
