indexterm {
    display: none;
}

title, subtitle, titleabbrev {
    display: block;
    color: #004080;
    margin: 1.33ex 0;
}

title, subtitle {
    font-weight: bold; 
}

sect1, sect2, sect3, sect4, sect5, simplesect {
    display: block;
}

sect1 > title { 
    font-size: 1.5em; 
    margin: .83ex 0; 
}

sect1 > title:before {
    content: counter(n-) " "; 
}

sect2 > title { 
    font-size: 1.3em; 
    margin: 1ex 0; 
}

sect2 > title:before { 
    content: counter(nn-) " "; 
}

sect3 > title:before {
    content: counter(nnn-) " "; 
}

sect4 > title:before { 
    content: counter(nnnn-) " "; 
}

para, simpara {
    display: block;
    margin: 10px ; 
}

itemizedlist {
    display: block;
    margin-left: 2ex;  
    margin-top: 1.33ex; 
    margin-bottom: 1.33ex; 
}

listitem {
    display: block;
}

listitem > *:first-child {
    margin-top: 0; 
    margin-bottom: 0; 
}
      
itemizedlist > listitem {
    margin-left: 2.5ex; 
}

itemizedlist > listitem:before {
    display: marker; 
    content: disc; 
    color: #004080;
    padding-top: .6ex; 
}

itemizedlist > listitem itemizedlist > listitem:before {
    content: square; 
}

itemizedlist > listitem itemizedlist > listitem itemizedlist > 
listitem:before {
    content: icon(diamond); 
}

itemizedlist > listitem itemizedlist > listitem itemizedlist > 
listitem itemizedlist > listitem:before {
    content: circle; 
}

orderedlist {
    display: block;
    margin-left: 2ex; 
    margin-top: 1.33ex; 
    margin-bottom: 1.33ex; 
}

orderedlist > listitem {
    margin-left: 6ex; 
}

orderedlist > listitem:before {
    display: marker; 
    content: counter(n, decimal) "."; 
    font-weight: bold; 
    color: #004080;
}

orderedlist[numeration=loweralpha] > listitem:before {
    content: counter(n, lower-alpha) "."; 
}

orderedlist[numeration=upperalpha] > listitem:before {
    content: counter(n, upper-alpha) "."; 
}

orderedlist[numeration=lowerroman] > listitem:before {
    content: counter(n, lower-roman) "."; 
}

orderedlist[numeration=upperroman] > listitem:before {
    content: counter(n, upper-roman) "."; 
}

variablelist {
    display: block;
    margin-left: 2ex; 
    margin-top: 1.33ex; 
    margin-bottom: 1.33ex; 
}

varlistentry {
    display: block;
}

term {
    display: block;
    font-weight: bold; 
}

varlistentry > listitem {
    margin-left: 4ex; 
}

programlisting, screen, literallayout, synopsis {
    display: block;
    white-space: pre;
    font-family: monospace;
    margin: 20px 
}
         
programlisting {
    background-color: #EEEEEE; 
    border: thin solid gray; 
    padding: 2px; 
}
 
screen {
    background-color: #EEEEFF; 
    border: thin solid #8888FF; 
    padding: 2px; 
}
 
figure, informalfigure, example, informalexample {
    display: block;
    margin-right: 50px ; 
    margin-left: 50px ; 
}

figure > title, example > title {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    color: #00FF00; font-size: 10pt; border: 1px ridge;

}


mediaobject {
    display: table;
    border-spacing: 2px;
    margin-right: 50px ; 
    margin-left: 50px ; 
}

inlinemediaobject {
    display: inline-table;
    border-spacing: 2px;
}

caption {
    display: block;
    color: #005090;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

textdata {
    display: inline;
}
      
attribution {
    display: block;
    text-align: right;
}

attribution:before {
    content: " -- "; 
}

footnote {
    display: block;
    margin-left: 18ex;
    margin-top: 1.33ex; 
    margin-bottom: 1.33ex; 
    margin-right: 10ex;
    font-size: small;
    padding: 2px;
    background-color: #F0F0FF;
}

footnote > *:first-child {
    margin-top: 0; 
    margin-bottom: 0; 
}

footnote:before {
    display: marker; 
    content: element-label();
    color: #004080;
}

footnote[label]:before {
    content: "[" attr(label) "]"; 
}

note, caution, important, tip, warning {
    display: block;
    margin-left: 18ex;
    margin-top: 1.33ex; 
    margin-bottom: 1.33ex; 
    content: url(images/note.png); 
}

note > *:first-child,
caution > *:first-child,
important > *:first-child,
tip > *:first-child,
warning > *:first-child {
    margin-top: 0; 
    margin-bottom: 0; 
}
      
note:before,
caution:before,
important:before,
tip:before,
warning:before {
    display: marker; 
    content: element-label();
    font-weight: bold; 
    color: #004080;
}

emphasis {
    font-style: normal; 
    font-weight: bold; 
}
emphasis[role=bold] {
    font-style: normal; 
    font-weight: bold; 
}
emphasis[role=underline] {
    font-style: normal; 
    text-decoration: underline;
}
emphasis[role=strikethrough] {
    font-style: normal; 
    text-decoration: line-through;
}

literal {
    font-family: monospace;
}
      
link, ulink, email {
    color: navy;
    text-decoration: underline;
}

xref {
    content: icon(left-link) 
      xpath("if(id(@linkend)/@xreflabel, id(@linkend)/@xreflabel, @linkend)");
    vertical-align: text-top;
    color: navy;
}
        
xref[endterm] {
    content: icon(left-link) xpath("if(id(@endterm), id(@endterm), @endterm)");
}

chapter > title { 
    font-size: 2em; 
    margin: .83ex 0; 
}

