<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.objectweb.proactive.infrastructuremanager.Application">
         </run>
      </application>
   </extension>
  
 
  <extension
        id="infrastructuremanager"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.objectweb.proactive.infrastructuremanager.application"
           name="infrastructuremanager">
        <property
              name="windowImages"
              value="/org.objectweb.proactive.infrastructuremanager/icons/alt_window_16.gif,/org.objectweb.proactive.ic2d/icons/alt_window_32.gif"/>
        <property
              name="aboutImage"
              value="/org.objectweb.proactive.infrastructuremanager/icons/alt_about.gif"/>
        <property
              name="aboutText"
              value="%About.text"/>
        <property
              name="appName"
              value="infrastructuremanager">
        </property>
        <property
              name="startupForegroundColor"
              value="000000"/>
        <property
              name="startupMessageRect"
              value="7,264,441,21"/>
        <property
              name="startupProgressRect"
              value="0,280,455,69"/>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.objectweb.proactive.infrastructuremanager.application"
           name="infrastructuremanager">
        <property
              name="windowImages"
              value="icons/alt_window_16.gif,icons/alt_window_32.gif">
        </property>
        <property
              name="aboutText"
              value="%About.text">
        </property>
        <property
              name="aboutImage"
              value="icons/alt_about.gif">
        </property>
        <property
              name="startupForegroundColor"
              value="000000">
        </property>
        <property
              name="startupProgressRect"
              value="0,280,455,69">
        </property>
        <property
              name="startupMessageRect"
              value="7,264,441,21">
        </property>
        <property
              name="appName"
              value="infrastructuremanager">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.objectweb.proactive.infrastructuremanager.application"
           name="infrastructuremanager">
        <property
              name="windowImages"
              value="/org.objectweb.proactive.ic2d/icons/alt_window_16.gif,/org.objectweb.proactive.ic2d/icons/alt_window_32.gif">
        </property>
        <property
              name="aboutText"
              value="%About.text">
        </property>
        <property
              name="aboutImage"
              value="/org.objectweb.proactive.ic2d/icons/alt_about.gif">
        </property>
        <property
              name="startupForegroundColor"
              value="000000">
        </property>
        <property
              name="startupProgressRect"
              value="0,280,455,69">
        </property>
        <property
              name="startupMessageRect"
              value="7,264,441,21">
        </property>
        <property
              name="preferenceCustomization">
        </property>
     </product>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.objectweb.proactive.infrastructuremanager.application"
           name="infrastructuremanager">
        <property
              name="windowImages"
              value="/org.objectweb.proactive.ic2d/icons/alt_window_16.gif,/org.objectweb.proactive.ic2d/icons/alt_window_32.gif">
        </property>
        <property
              name="aboutText"
              value="%About.text">
        </property>
        <property
              name="aboutImage"
              value="/org.objectweb.proactive.ic2d/icons/alt_about.gif">
        </property>
        <property
              name="startupForegroundColor"
              value="000000">
        </property>
        <property
              name="startupProgressRect"
              value="0,280,455,69">
        </property>
        <property
              name="startupMessageRect"
              value="7,264,441,21">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>
  
   
</plugin>
