<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="Proactive_Server">

	<display-name>Proactive Server</display-name>
	<description> Webapp of Proactive Server (including the scheduler and resource manager).</description>

	<listener id="Proactive_Server_Listener">
		<listener-class>
			org.ow2.proactive.wrapper.WrapperContextListener
		</listener-class>
	</listener>

	<!--<servlet id="Proactive_Servlet_1">
		<servlet-name>WrapperServlet</servlet-name>
		<servlet-class>org.ow2.proactive.wrapper.WrapperServlet</servlet-class>
		<load-on-startup></load-on-startup>
	</servlet>

	<servlet-mapping id="Proactive_ServletMapping_1">
		<servlet-name>WrapperServlet</servlet-name>
		<url-pattern>/launcher/*</url-pattern>
	</servlet-mapping>
-->
	<welcome-file-list id="Proactive_Server_WelcomeFileList">
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

<!--	<security-constraint id="Proactive_SecurityConstraint_1">
		<web-resource-collection id="Proactive_WebResourceCollection_1">
			<web-resource-name>Wrapper Servlet</web-resource-name>
			<description>Protection area for Wrapper Servlet.</description>
			<url-pattern>/launcher/*</url-pattern>
			<url-pattern>/servlet/WrapperServlet/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint id="Proactive_AuthConstraint_1">
			<description>Snoop Servlet Security:+:All Authenticated users for Snoop Servlet.</description>
			<role-name>All Role</role-name>
		</auth-constraint>
		<user-data-constraint id="Proactive_UserDataConstraint_1">
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role id="Proactive_SecurityRole_1">
		<description>All Authenticated Users Role.</description>
		<role-name>All Role</role-name>
	</security-role>-->

</web-app>

