/** Login Configuration for the JAAS Sample Application **/

SchedulerFileLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerFileLoginModule required ;
};

SchedulerLDAPLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerLDAPLoginModule required ;
};

RMFileLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMFileLoginModule required ;
};

RMLDAPLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMLDAPLoginModule required ;
};
