/** Login Configuration for the JAAS Sample Application **/

SchedulerFileLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerFileLoginModule required ;
};

SchedulerLDAPLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerLDAPLoginModule required ;
};

SchedulerPAMLoginMethod {
	org.ow2.proactive.scheduler.authentication.SchedulerPAMLoginModule required serviceName="proactive-jpam";
};

SchedulerIAMLoginMethod {
    org.ow2.proactive.authentication.IAMLoginModule required
	ticketValidatorClass="org.ow2.proactive.authentication.iam.JWTValidator"
	iamServerUrlPrefix="https://localhost:8444/iam"
	iamTicketRequest="/v1/tickets"
	service="PACoreWithJWT"
	userAttributeName="uid"
	roleAttributeName="role"
	roleSeparator=","
	ssoTicketMarker="action"
	jsonWebTokenSigned="true"
	jsonWebTokenEncrypted="true"
	jsonWebTokenSignatureKey="_pyp8dL5rHqLXiS6aBzvbJ_LZdBN3-oQqbJVbC5mveTdsZ1r3WM_j3SUENB65XS7EAu7Kop3rfQx81GS_mu1Yw"
	jsonWebTokenEncryptionKey="3OxZlzUq9v1jfox3PSSDGZk7RNfHL9ENcpLoULWSCj4";
};

/*SchedulerIAMLoginMethod {
	org.ow2.proactive.authentication.IAMLoginModule required
	ticketValidatorClass="org.jasig.cas.client.validation.Cas30ServiceTicketValidator"
	iamServerUrlPrefix="https://localhost:8444/iam"
	iamTicketRequest="/v1/tickets"
	ssoTicketMarker="action"
	service="PACoreWithST"
	roleAttributeName="role"
	roleSeparator=",";
};*/

RMFileLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMFileLoginModule required ;
};

RMLDAPLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMLDAPLoginModule required ;
};

RMPAMLoginMethod {
	org.ow2.proactive.resourcemanager.authentication.RMPAMLoginModule required serviceName="proactive-jpam";
};

RMIAMLoginMethod {
    org.ow2.proactive.authentication.IAMLoginModule required
	ticketValidatorClass="org.ow2.proactive.authentication.iam.JWTValidator"
	iamServerUrlPrefix="https://localhost:8444/iam"
	iamTicketRequest="/v1/tickets"
	service="PACoreWithJWT"
	userAttributeName="uid"
	roleAttributeName="role"
	roleSeparator=","
	ssoTicketMarker="action"
	jsonWebTokenSigned="true"
	jsonWebTokenEncrypted="true"
	jsonWebTokenSignatureKey="_pyp8dL5rHqLXiS6aBzvbJ_LZdBN3-oQqbJVbC5mveTdsZ1r3WM_j3SUENB65XS7EAu7Kop3rfQx81GS_mu1Yw"
	jsonWebTokenEncryptionKey="3OxZlzUq9v1jfox3PSSDGZk7RNfHL9ENcpLoULWSCj4";
};

/*RMIAMLoginMethod {
	org.ow2.proactive.authentication.IAMLoginModule required
	ticketValidatorClass="org.jasig.cas.client.validation.Cas30ServiceTicketValidator"
	iamServerUrlPrefix="https://localhost:8444/iam"
	iamTicketRequest="/v1/tickets"
	ssoTicketMarker="action"
	service="PACoreWithST"
	roleAttributeName="role"
	roleSeparator=",";
};*/