<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="connection.url">jdbc:derby:RM_DB;create=true</property>
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="connection.username">rm</property>
        <property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout. -->
        <property name="show_sql">false</property>

        <!-- Behavior of the database schema on startup : validate | update | create | create-drop -->
        <property name="hbm2ddl.auto">create-drop</property>

        <!--  use stream method for binary object : use to store bigger object -->
        <property name="jdbc.use_streams_for_binary">true</property>


        <!-- Here are every type describe by hibernate's annotations.
        Each Hibernate entity class must be referenced here. -->

        <!-- Events -->
        <mapping class="org.ow2.proactive.resourcemanager.core.history.NodeHistory"/>
        <mapping class="org.ow2.proactive.resourcemanager.core.history.UserHistory"/>
        <mapping class="org.ow2.proactive.resourcemanager.core.history.Alive"/>

    </session-factory>

</hibernate-configuration>
